[tool.black]
line-length = 140

[tool.isort]
profile = "black"
combine_as_imports = true
combine_star = true
line_length = 140

# theres so much to fix here but i dont want to see all the red right now
# [tool.pyright]
# typeCheckingMode = "basic"
